<%= stylesheet_link_tag 'login_page' %>

<div id="login">
<% if has_signed_in_user? %>
  <h2><%= t ".welcome", :username => current_user.name %></h2>
<% else %>

    <h1><%= t("sign_in")%></h1>

    <%= semantic_form_for @user, :url => sessions_path do |f| %>
    <%= f.inputs do %>
    <%= f.input :email, :input_html => {:name => "user_or_email" }, :required => true, :label => false, :placeholder => t(".user_or_email").upcase %>
    <%= f.input :password, :required => true, :label => false, :placeholder => t(".password").upcase %>
    <% end %>

    <%= f.actions do %>
    <% f.action :submit, :label => t("log_in"), :as => :button %>
    <% end %>

    <% end %>
<% end %>
</div>
