<%= stylesheet_link_tag 'register_page' %>

<div id="register">
  <%= semantic_form_for @user, :url => password_reset_path(params[:id]) do |f| %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.actions do %>
      <% f.action :submit, :label => "Reset Password", :as => :button %>
    <% end %>
  <% end %>
</div>
