<div id="register">
  <header>
    <h2><%= "Reset Password" %></h2>
  </header>
  <%= form_tag password_resets_path, :method => :post do %>
  <fieldset>
    <ol>
      <li>
        <%= label_tag :email %>
        <%= text_field_tag :email, params[:email] %>
      </li>
    </ol>
  </fieldset>

  <fieldset class="actions">
    <ol>
    <li><%= submit_tag "Reset Password" %></li>
    </ol>
  </fieldset>
  <% end %>
</div>
