<div id="user_list">
  <% unless users.empty? %>
    <header>
      <h2><%= t ".list_of_users" %></h2>
    </header>

    <div>
      <h2><%= t ".pending" %></h2>
      <ul>
        <% users.where("status = 'pending'").each do |user|%>
          <li>
            <%= user.name %>
            <%= mail_to user.email %>
            <%= link_to :edit, edit_organization_user_path(user.organization_id, user.id) %>
            </li>
        <% end %>
      </ul>
    </div>

    <% if users.inactive_users.count > 0 %>
      <div>
        <h2><span><%= t ".inactive" %></span></h2>
        <ul>
          <% users.inactive_users.each do |user|%>
            <li>
              <%= user.name %>
              <%= mail_to user.email %>            

              <%= link_to :activate, organization_user_path(user.organization_id, user.id, :user => { :status => User::Status::ACTIVE }), :method => 'PUT' %>
              <%= link_to :edit, edit_organization_user_path(user.organization_id, user.id) %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <h2><span><%= t ".active" %></span></h2>
      <ul>
        <% users.active_users.each do |user|%>
          <li>
            <%= user.name %>
            <%= mail_to user.email %>            

            <%= link_to :deactivate, organization_user_path(user.organization_id, user.id, :user => { :status => User::Status::INACTIVE }), :method => 'PUT' %>
            <%= link_to :edit, edit_organization_user_path(user.organization_id, user.id) %>
          </li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <p><%= t(".no_users") %></p>
  <% end %>
</div>
