<div id="user_list">
  <% unless users.empty? %>
    <header>
      <h2><%= t ".list_of_users" %></h2>
    </header>

    <% if users.pending_users.count > 0 %>
      <div>
      <h2><%= t ".pending" %></h2>
      <table>
        <% users.where("status = 'pending'").each do |user|%>
          <tr>
            <td><%= user.name %></td>
            <td><%= mail_to user.email %></td>
            <td><%= link_to :edit, edit_organization_user_path(user.organization_id, user.id) %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <% end %>

    <% if users.inactive_users.count > 0 %>
      <div>
        <h2><%= t ".inactive" %></h2>
        <table>
          <% users.inactive_users.each do |user|%>
            <tr>
              <td><%= user.name %></td>
              <td><%= mail_to user.email %></td>

              <td><%= link_to :activate, organization_user_path(user.organization_id, user.id, :user => { :status => User::Status::ACTIVE }), :method => 'PUT' %></td>
              <td><%= link_to :edit, edit_organization_user_path(user.organization_id, user.id) %></td>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>

    <% if users.active_users.count > 0 %>
      <div>
      <h2><%= t ".active" %></h2>
      <table>
          <% users.active_users.each do |user|%>
            <tr>
              <td> <%= user.name %> </td>
              <td> <%= mail_to user.email %> </td>

              <td>
                <% unless user == current_user %>
                  <%= link_to :deactivate, organization_user_path(user.organization_id, user.id, :user => { :status => User::Status::INACTIVE }), :method => 'PUT' %>
                <% end %>
              </td>
              <td><%= link_to :edit, edit_organization_user_path(user.organization_id, user.id) %></td>
            </tr>
          <% end %>
      </table>
    </div>
    <% end %>
  <% else %>
    <p><%= t(".no_users") %></p>
  <% end %>
</div>
