<%= stylesheet_link_tag 'user_list' %>
<div id="user_list">
  <p>
    <%= t(".no_users") if @users.empty? %>
  </p>

  <% unless @users.empty? %>
    <h1><%= t ".list_of_users" %></h1>
    <table>
      <h2><%= t ".pending" %></h2>
      <% @users.select{ |user| user.status == "pending"}.each do |user|%>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
        </tr>
      <% end %>
    </table>

    <table>
      <h2><%= t ".accepted" %></h2>
      <% @users.select{ |org| org.status == "accepted"}.each do |user|%>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>