<div class="documents">
  <header>
    <%= link_to t(".upload_documents_button"), new_document_path %>
    <h2><%= t(".documents_title") %></h2>
  </header>

  <div class="display-document">
    <h2 class="title"><%= t(".terms_of_service_title") %></h2>
    <% if @terms_of_service.present? %>
      <iframe src="<%= @terms_of_service.document_url %>"></iframe>
    <% else %>
      <p><%= t(".terms_of_service_not_uploaded_message") %></p>
    <% end %>
  </div>

  <div class="display-document">
    <h2 class="title"><%= t(".privacy_policy_title") %></h2>
    <% if @privacy_policy.present? %>
      <iframe src="<%= @privacy_policy.document_url %>"></iframe>
    <% else %>
      <p><%= t(".privacy_policy_not_uploaded_message") %></p>
    <% end %>
  </div>
</div>
