<div class="documents">
  <header>
    <h2><%= t(".upload_documents") %></h2>
  </header>


  <%= form_for(:documents, :url => documents_path, :html => { :class => "upload-form", :multipart => true }) do |f| %>
    <div class="form-section">
      <h2>Terms of Service</h2>
      <%= f.fields_for @terms_of_service do |tos_form| %>
        <%= tos_form.label "Upload a terms of service document" %>
        <%= tos_form.file_field :document, :class => 'upload-field', :accept => "application/pdf" %>
      <% end %>
    </div>

    <div class="form-section">
      <h2>Privacy Policy</h2>
      <%= f.fields_for @privacy_policy do |privacy_policy_form| %>
        <%= privacy_policy_form.label "Upload a privacy policy" %>
        <%= privacy_policy_form.file_field :document, :class => 'upload-field', :accept => "application/pdf" %>
      <% end %>


    <p class="upload-error"></p>
    <%= f.submit "Upload", :class => 'upload-action' %>
  <% end %>

  <script type="text/javascript">
    $(document).ready(function() {
      new UserOwner.DocumentUploader($(".upload-form"))
    });
  </script>
</div>
