<div class="documents">
  <header>
    <h2><%= t(".upload_documents_title") %></h2>
  </header>


  <%= form_for(:documents, :url => documents_path, :html => { :class => "upload-form", :multipart => true }) do |f| %>
    <div class="form-section">
      <h2><%= t(".terms_of_service_title") %></h2>
      <%= f.fields_for @terms_of_service do |tos_form| %>
        <%= tos_form.label t('.upload_terms_of_service_message') %>
        <%= tos_form.file_field :document, :class => 'upload-field', :accept => "application/pdf" %>
      <% end %>
    </div>

    <div class="form-section">
      <h2><%= t(".privacy_policy_title") %></h2>
      <%= f.fields_for @privacy_policy do |privacy_policy_form| %>
        <%= privacy_policy_form.label t(".upload_privacy_policy_message") %>
        <%= privacy_policy_form.file_field :document, :class => 'upload-field', :accept => "application/pdf" %>
      <% end %>
    </div>

    <p class="upload-error">
      <%= t('.no_files_added_message') %>
    </p>
    <%= f.submit t(".upload_button_text"), :class => 'upload-action' %>
  <% end %>

  <script type="text/javascript">
    $(document).ready(function() {
      new UserOwner.DocumentUploader($(".upload-form"))
    });
  </script>
</div>
