<header>
  <h2><%= t ".confirmation_heading" %></h2>
</header>

<div class="confirmation">
  <%= form_tag main_app.organizations_path, :class => "confirmation-form" do %>
    <div class="confirmation-fieldset">
      <%= label_tag :password, "Password", :class => "confirmation-label" %>
      <%= password_field_tag :password, nil, :class => "confirmation-password" %>
    </div>
    <%= submit_tag t(".check_password_button"), :class => "confirmation-submit" %>
  <% end %>
</div>
