<%= stylesheet_link_tag 'admin_page' %>
<div id="admin">
  <p>
    <%= t(".no_organizations") if @organizations.empty? %>
  </p>

  <% unless @organizations.empty? %>
    <h1><%= t ".list_of_organizations" %></h1>
    <table>
      <h2><%= t ".pending" %></h2>
      <% @organizations.select{ |org| org.status == "pending"}.each do |organization|%>
        <tr>
          <td> <%= organization.name %> </td>
          <td>
            <%= form_tag organization_change_status_path(organization.id), :method => :put do %>
              <%= hidden_field_tag 'rejection_message' %>
              <%= hidden_field_tag "status", "rejected" %>
              <div class="actions">
                <%= link_to t('.approve'), organization_change_status_path(organization.id, :status => "approved"), :method => :put %> <%= t('.or') %>
                <%= submit_tag t(".reject"), :class => 'reject' %>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

    <table>
      <h2><%= t ".approved" %></h2>
      <% @organizations.select{ |org| org.status == "approved"}.each do |organization|%>
        <tr><td> <%= organization.name %> </td> </tr>
      <% end %>
    </table>

    <table>
      <h2><%= t ".rejected" %></h2>
      <% @organizations.select{ |org| org.status == "rejected"}.each do |organization|%>
        <tr><td> <%= organization.name %> </td> </tr>
      <% end %>
    </table>
  <% end %>
</div>

<script type="text/javascript">
  $(function(){
    $(".reject").click(function(){
      reject_message = <%= raw("prompt(\"") + t(".reject_prompt_message") + raw("\");")%>
      $("#rejection_message").val(reject_message);
      document.forms[0].submit();
    });
  });
</script>