<p>
  <%= "There are no organizations" if @organizations.empty? %>
</p>

<% unless @organizations.empty? %>
  <h1>List of Organizations</h1>
  <table>
    <h2>Pending</h2>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
    <% @organizations.select{ |org| org.status == "pending"}.each do |organization|%>
      <tr>
        <td> <%= organization.name %> </td>
        <td>
          <%= link_to 'Approve', organization_change_status_path(organization.id, :status => "approved"), :method => :put %>
          <%= link_to "Reject", organization_change_status_path(organization.id, :status => "rejected"), :method => :put %>
        </td>
      </tr>
    <% end %>
  </table>

  <table>
    <h2>Approved</h2>
    <% @organizations.select{ |org| org.status == "approved"}.each do |organization|%>
      <tr><td> <%= organization.name %> </td> </tr>
    <% end %>
  </table>

  <table>
    <h2>Rejected</h2>
    <% @organizations.select{ |org| org.status == "rejected"}.each do |organization|%>
      <tr><td> <%= organization.name %> </td> </tr>
    <% end %>
  </table>
<% end %>