<div id="admin">
  <% unless @organizations.empty? %>
  <header>
    <h2><%= t ".list_of_organizations" %></h2>
  </header>

  <div>
    <h2><%= t ".active" %></h2>
    <table>
      <% @organizations.select{ |org| org.status == Organization::Status::ACTIVE}.each do |organization|%>
      <tr>
        <td><%= organization.name %></td>
        <td>
          (<%= I18n.name_for_locale(organization.default_locale.to_sym) %>)</td>
        <td>
          <%= form_tag organization_deactivate_path(organization.id), :method =>
          :put do %>
            <%= hidden_field_tag 'deactivate_message' %>
            <%= hidden_field_tag t(".deactivate")%>
          <% end %>

          <%= link_to t('.deactivate'), '#', :class =>'deactivate' if can? :deactivate, Organization %>
        </td>
        <td>
          <%= link_to t('.create_a_user'), new_organization_user_path(organization.id) if can? :manage, User %>
        </td>
        <td>
          <%= link_to t('.view_organization'), organization_path(organization.id) %>
        </td>
      </tr>
      <% end %></table>

    <h2><%= t ".inactive" %></h2>
    <table>
      <% @organizations.select{ |org| org.status == Organization::Status::INACTIVE}.each do |organization|%>
      <tr>
        <td><%= organization.name %></td>
        <td><%= button_to t('.activate'), organization_activate_path(organization.id), :method =>
        :put, :confirm => t(:confirm) if can? :manage, @organization %></td>
      </tr>

      <% end %></table>
    </div>
  <% else %>
    <p><%= t(".no_organizations") if @organizations.empty? %></p>
  <% end %>
</div>

<script type="text/javascript">
  $(function(){
    $(".deactivate").click(function(){
      var deactivate_message = <%= raw("prompt(\"") + t(".deactivate_prompt_message") + raw("\");")%>
      if(deactivate_message != null) {
        $("#deactivate_message").val(deactivate_message);
        document.forms[0].submit();
      }
    });
  });
</script>
