<div id="register">
  <header>
    <h2><%= t ".register_organization" %></h2>
  </header>

  <%= semantic_form_for @organization, :html => {:multipart => true} do |f| %>
    <%= f.inputs :name => t(".organization_info") do %>
      <%= f.input :name, :label => Organization.human_attribute_name(:name) %>
      <%= f.input :org_type, :label => Organization.human_attribute_name(:org_type),
        :as => :select, :collection => Organization.types %>
      <%= f.label "Upload Logo" %>
      <%= f.file_field :logo, :accept => "image/*" %>
    <% end %>


    <%= f.semantic_fields_for :users do |user| %>
      <%= user.inputs :name => t(".user_info") do %>
        <%= user.input :name %>
        <%= user.input :email %>
        <%= user.input :password, :required => true %>
        <%= user.input :password_confirmation, :as => :password, :required => true %>
      <% end %>
    <% end %>

    <fieldset>
      <legend><%= t(".legal_heading") %></legend>
      <div class="organization-legal-item mandatory">
        <%= check_box_tag 'terms_of_service', nil, false, :class => 'organization-legal-item-checkbox' %>
        <%= label_tag 'terms_of_service', @organization.label_for_terms_of_service, :class => 'organization-legal-item-label' %>
      </div>

      <div class="organization-legal-item mandatory">
        <%= check_box_tag 'privacy_policy', nil, false, :class => 'organization-legal-item-checkbox' %>
        <%= label_tag 'privacy_policy', @organization.label_for_privacy_policy, :class => 'organization-legal-item-label' %>
      </div>

      <div class="organization-legal-item">
        <%= f.check_box :allow_sharing, :class => 'organization-legal-item-checkbox' %>
        <%= f.label :allow_sharing, t(".sharing_agreement"), :class => 'organization-legal-item-label' %>
      </div>
    </fieldset>

    <%= f.actions do %>
      <% f.action :submit, :label => t("register"), :as => :button, :button_html => { :disabled => true, :class => "organization-register-button" } %>
    <% end %>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    new UserOwner.Registration($("#register"));
  });
</script>
