<header>
  <h2><%= @organization.name %></h2>
</header>
<div>
  <div>
    <h2>Status - <%= @organization.status %></h2>
    <h2>Type - <%= @organization.org_type %></h2>
    <h2>Default Locale - <%= I18n.name_for_locale(@organization.default_locale.to_sym) %></h2>
  </div>
</div>
<%= render "users/users_list", :users => @organization.users %>
