<div id="banner" role="banner">
  <ul>
  	<li><%= link_to t("header.home"), root_path, :class => 'home' %></li>
    <% if can? :manage, Organization %>
      <li><%= link_to t("header.organizations"), organizations_path, :class=>'organization'  %></li>
      <li><%= link_to t("header.add_applications"), "/oauth/applications/new", :class => 'add' %></li>
    <% end %>
    <% if can? :manage, User %>
      <li><%= link_to t("header.create_a_user"), new_organization_user_path(current_user.organization_id), :class => 'add' %></li>
      <li><%= link_to t("header.list_users"), organization_users_path(current_user.organization_id), :class => 'users' %></li>
    <% end %>
    <% if has_signed_in_user? %>
      <li><%= link_to t("header.log_out"), logout_path, :class => 'logout' %></li>
    <% else %>
      <li><%= link_to t("header.log_in"), login_path, :class => 'signin' %></li>
      <li><%= link_to t("header.register"), register_path, :class => 'register' %></li>
    <% end %>
  </ul>
</div>

<h1 id="logo">
  <a href="/"><%= t('header.application_title') %></a>
</h1>

<h3 id="welcome"><%= t "header.welcome", :username => current_user.name %></h3>
