<div class = "header">
  <ul>
  	<li><%= link_to t("header.home"), root_path %></li>
    <li><%= link_to t("header.pending_approvals"), organizations_path if can? :manage, Organization %></li>
    <li><%= link_to t("header.add_applications"), "/oauth/applications/new" if can? :manage, Organization %></li>
    <li><%= link_to t("header.create_a_user"), new_organization_user_path(current_user.organization_id) if can? :manage, User and !current_user.admin? %></li>
    <% if has_signed_in_user? %>
      <li><%= link_to t("header.log_out"), logout_path, :class => 'logout' %></li>
    <% else %>
      <li><%= link_to t("header.log_in"), login_path, :class => 'signin' %></li>
      <li><%= link_to t("header.register"), register_path, :class => 'signin' %></li>
    <% end %>
  </ul>
</div>
